<div class="testcase-test" id="testcase-test-{{this.id}}">
    <div class="row">
        <div class="col-lg-11">
            <div class="testcase-test-heading"><b>Code snippet</b></div>
        </div>
        <div class="col-lg-1" {{#if_sm this.id 3}}style="display:none;"{{/if_sm}}>
            <div class="testcase-test-remove">
                <p><button class="btn btn-default btn-sm" data-entry-id="{{this.id}}">remove</button></p>
            </div>
        </div>
    </div>


    <div class="form-group">
        <input type="text" name="testCase[entries][{{this.id}}][title]" class="testcase-test-title form-control" value="{{this.title}}" placeholder="Test entry title">
    </div>
    <div class="form-group">
        <textarea name="testCase[entries][{{this.id}}][code]" class="testcase-test-code form-control" rows="4" placeholder="JS code ...">{{this.code}}</textarea>
    </div>
</div>