<div>
    <p>TestCase results for your browser <b>{{env.browserName}}</b> version <b>{{env.browserVersion}}</b></p>

    <!-- Table -->
    <table id="results-table" class="table table-stripe" width="100%">
        <thead>
            <tr>
                <th width="20%">Title</th>
                <th width="40%">Code</th>
                <th>Results</th>
            </tr>
        </thead>
        {{#each entries}}
            <tr class="testcase-test-result" id="testcase-test-result-{{@key}}">
                <td>{{this.title}}</td>
                <td><pre>{{this.code}}</pre></td>
                <td id="testcase-test-result-text-{{@key}}"><i class="testcase-test-result-statusText">Waiting ...</i></td>
            </tr>
        {{/each}}
    </table>
</div>