<div class="testcase-test" id="testcase-test-{{this.id}}">

    <div class="row form-group">
        <label class="control-label col-lg-3">Test name:</label>
        <div class="col-lg-9">
            <input type="text" name="testCase[entries][{{this.id}}][title]" class="testcase-test-title form-control" value="{{this.title}}" placeholder="Test entry title">
        </div>
        {{#if_gt this.id 2}}
            <div class="col-lg-1 col-lg-offset-12 testcase-test-remove" style="position: absolute;">
                <button class="btn btn-default btn-sm" data-entry-id="{{this.id}}">remove</button>
            </div>
        {{/if_gt}}
    </div>
    <div class="row">
        <div class="form-group col-lg-12">
            <textarea name="testCase[entries][{{this.id}}][code]" class="testcase-test-code form-control" rows="4" placeholder="JS code ...">{{this.code}}</textarea>
        </div>
    </div>
</div>